/* basic setting ---------------------------------------*/
body, html {
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    list-style: none;
}

a { text-decoration: none;
    list-style: none;
    color: black;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

li, ul, ol, span {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*body-------------------------------------------------------*/
body {
    width: 100%;
}


/*header ----------------------------------------------------*/
header {
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    text-align: center;
}

header .logo {
    position: relative;
    top: 30px;
    max-width: 100%;
}

/*section ----------------------------------------------------*/
section {
    position: relative;
    width: 100%;
}

section .main {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: hidden;

    margin-right: auto;
    margin-left: auto;
}

section .click {
    position: absolute;
    display: inline;

    color: RGB(187,230,177);

    left: 35%;
    width: 30%;
    font-size: 5vw;
    top: 85vw; 
    border-radius: 5vw;
}

/*
section .participant {
    position: absolute;
    display: inline;

    left: 40%;
    width: 20%;
    font-size: 1vw;
    top: 71vw;
    background-color: RGB(248,248,248);
    color: orange;
    font-weight: bold;
}
*/

section .participant {
    position: absolute;
    display: inline;

    left: 39.6%;
    width: 22%;
    height: auto;
    top: 70.7vw;

}

section .video1 {
    position: absolute;
    display: inline;
    left: 23%;
    width: 54%;
    height: auto;
    top: 133vw;
    border: 0.2vmax solid black;
    border-radius: 1vmax;
    /*box-shadow: gray 0.5vw 0.5vw 0.5vw;*/
}

section .notice {
    position: absolute;
    display: inline;

    left: 27.5%;
    width: 45%;
    height: auto;
    top: 393vw;
    border: 0.2vmax solid orange;
    border-radius: 1vmax;
    box-shadow: lightgray 0.05vmax 0.05vmax 0.05vmax;
    
}